@import url('https://fonts.googleapis.com/css2?family=Moderustic:wght@300..800&display=swap');

:root {
    font-size: 16px;
    font-family: 'Moderustic', sans-serif;
    --grenn: #A0D300;
    --purple: #9188ED;
    --purple-dark: #7266E8;
    --purple-light: #E4E1FB;
    --blue: #43A1FF;
    --orange: #FF7900;
    --orange-light: #FFC692;
    --red: #6A0E0E;
    --red-basic: #CA0A22;
    --red-basic-light: #fac7c7;
    --red-light: #CE706F;
    --grey: #2B2928;
    font-size: 16px;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul,
ol,
li {
    list-style: none;
}

a:link,
a:visited {
    text-decoration: none;
}

.msg_error {
    color: red;
}

.hidden {
    display: none;
}

button {
    border: none;
    background: none;
    cursor: pointer;
}

.btn {
    border-radius: 99999px;
    cursor: pointer;
}

.btn--var-green {
    background-color: var(--grenn);
    color: white;
    padding: 0.625rem 1.25rem;
    border: 1px solid var(--grenn);
}

.btn--var-green:hover {
    background-color: white;
    color: var(--grenn);
    border: 1px solid var(--grenn);
}

@media screen and (min-width: 960px) {
    .btn--var-green {
        font-size: 1rem;
    }
}

.btn--var-purple {
    background-color: var(--purple);
    color: white;
    padding:  0.625rem;
    border-radius: 10px;
    font-size: 0.875rem;
    font-weight: 700;
}

.btn--var-white-purple {
    background-color: white;
    color: var(--purple);
    padding: 0.5rem;
    border: 1px solid var(--purple);
    font-weight: 600;
}

@media screen and (min-width: 960px) {
    .btn--var-white-purple {
        font-size: 1rem;
    }
    
    .btn--var-white-purple:hover {
        background-color: var(--purple);
        color: white;
        border: 1px solid white;
    }
}

.btn--var-white:hover {
    background-color: var(--purple);
    color: white;
    border: 1px solid white;
}

.btn--var-white-orange {
    background-color: white;
    color: var(--orange);
    padding: 0.5rem;
    font-weight: 600;
}

@media screen and (min-width: 960px) {
    .btn--var-white-orange {
        font-size: 1rem;
    }
    
    .btn--var-white-orange:hover {
        background-color: var(--orange);
        color: white;
        border: 1px solid white;
    }
}

.btn--var-orange {
    background-color: var(--orange);
    color: white;
    padding:  0.625rem;
    border-radius: 10px;
    font-size: 0.875rem;
    font-weight: 700;
}

.btn--var-red {
    background-color: var(--red);
    color: white;
    padding:  0.625rem;
    border-radius: 10px;
    font-size: 0.875rem;
    font-weight: 700;
}

.btn--var-red-basic {
    background-color: var(--red-basic);
    color: white;
    padding:  0.625rem;
    border-radius: 10px;
    font-size: 0.875rem;
    font-weight: 700;
}

.btn--var-blue {
    background-color: var(--blue);
    color: white;
    padding:  0.625rem;
    border-radius: 10px;
    font-size: 0.875rem;
    font-weight: 700;
}

.btn--var-white-blue {
    background-color: white;
    color: var(--blue);
    padding: 0.5rem;
    border: 1px solid var(--blue);
    font-weight: 600;
}

@media screen and (min-width: 960px) {
    .btn--var-white-blue {
        font-size: 1rem;
    }
    
    .btn--var-white-blue:hover {
        background-color: var(--blue);
        color: white;
        border: 1px solid white;
    }
}

.btn--var-deconnection {
    background-color: var(--red-basic);
    color: white;
    padding: 0.625rem 1.25rem;
    border: 1px solid var(--red-basic);
    font-size: 1rem;
}

.btn--var-deconnection:hover {
    background-color: white;
    color: var(--red);
    border: 1px solid var(--red);
}

.btn--var-white-red {
    background-color: white;
    color: var(--red);
    padding: 0.5rem;
    border: 1px solid var(--red);
    font-weight: 600;
}

@media screen and (min-width: 960px) {
    .btn--var-white-red {
        font-size: 1rem;
    }
    
    .btn--var-white-red:hover {
        background-color: var(--red);
        color: white;
        border: 1px solid white;
    }
}

.btn--var-white-red-basic {
    background-color: white;
    color: var(--red-basic);
    padding: 0.5rem;
    border: 1px solid var(--red-basic);
    font-weight: 600;
}

@media screen and (min-width: 960px) {
    .btn--var-white-red-basic {
        font-size: 1rem;
    }
    
    .btn--var-white-red-basic:hover {
        background-color: var(--red-basic);
        color: white;
        border: 1px solid white;
    }
}

/* /////////////////////////////////BTN HEADER/////////////////////////////// */

.btn--header-white--purple {
    background-color: black;
    color: white;
    padding: 0.5rem;
    border: 2px solid white;
}

.btn--header-white--purple:hover {
    background-color: white;
    color: var(--purple);
    border: 2px solid var(--purple);
}

.btn--header-white--purple:active {
    background-color: var(--purple);
    color: white;
}

.btn--header-white--red {
    background-color: black;
    color: white;
    padding: 0.5rem;
    border: 2px solid white;
}

.btn--header-white--red:hover {
    background-color: white;
    color: var(--red);
    border: 2px solid var(--red);
}

.btn--header-white--green {
    background-color: black;
    color: white;
    padding: 0.5rem;
    border: 2px solid white;
}

.btn--header-white--green:hover {
    background-color: white;
    color: var(--grenn);
    border: 2px solid var(--grenn);
}

.btn--header-white--green:active {
    background-color: var(--grenn);
    color: white;
}

.btn--header-white--red-basic {
    background-color: black;
    color: white;
    padding: 0.5rem;
    border: 2px solid white;
}

.btn--header-white--red-basic:hover {
    background-color: white;
    color: var(--red-basic);
    border: 2px solid var(--red-basic);
}

.btn--header-white--red-basic:active {
    background-color: var(--red-basic);
    color: white;
}

.btn--header-white--blue {
    background-color: black;
    color: white;
    padding: 0.5rem;
    border: 2px solid white;
}

.btn--header-white--blue:hover {
    background-color: white;
    color: var(--blue);
    border: 2px solid var(--blue);
}

.btn--header-white--blue:active {
    background-color: var(--blue);
    color: white;
}

.btn--header-white--orange {
    background-color: black;
    color: white;
    padding: 0.5rem;
    border: 2px solid white;
}

.btn--header-white--orange:hover {
    background-color: white;
    color: var(--orange);
    border: 2px solid var(--orange);
}

.btn--header-white--orange:active {
    background-color: var(--orange);
    color: white;
}

.active_afterboss {
    background-color: var(--purple);
    border-color: var(--purple);
}

.active_etp {
    background-color: var(--orange);
    border-color: var(--orange);
}

.active_ppfl {
    background-color: var(--red);
    border-color: var(--red);
}

.active_b2btv {
    background-color: var(--grenn);
    border-color: var(--grenn);
}

.active_mouv {
    background-color: var(--red-basic);
    border-color: var(--red-basic);
}

.active_outside {
    background-color: var(--blue);
    border-color: var(--blue);
}

/* ///////////////////////////////////////////////////////////////// */

.presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem
}

@media screen and (min-width: 960px) {
    .presentation {
        font-size: 1rem;
    }
}

.presentation--lpp {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding-bottom: 1.75rem;
}

@media screen and (min-width: 960px) {
    .presentation--lpp {
        font-size: 1rem;
        padding: 1.75rem 0;
    }
}

.section_card {
    padding: 1.5rem;
    font-size: 0.75rem;
    text-align: center;
}


@media screen and (min-width: 960px) {
    .section_card {
        padding: 0;
    }
}

.section_card--black {
    background-color: black;
    font-size: 0.75rem;
    text-align: center;
}

@media screen and (min-width: 960px) {
    .section_card--black {
        width: 100%;
    }
}

/* /////////////////////////////////HEADER/////////////////////////////// */

.header_nav--mobile {
    background-color: black;
    padding: 0.875rem 1.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (min-width: 960px) {
    .header_nav--mobile {
        display: none;
    }
}

@media screen and (max-width: 959px) {
    .header_nav--desktop {
        display: none;
    }
}

@media screen and (min-width: 960px) {
    .header_nav--desktop {
        background-color: black;
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.875rem 1.25rem;
    }
}

.nav_logo {
    width: 47.7px;
    height: 17px;
}

.nav_logo-mobile {
    width: 4.3125rem;
    height: 1.625rem;
}

@media screen and (min-width: 960px) {
    .nav_logo {
        width: 6rem;
        height: 2.375rem;
    }
}

.nav_menu_berger {
    display: flex;
    width: 24px;
    height: 24px;
    align-items: center;
}


@media screen and (min-width: 960px) {
    .nav_lst {
        display: flex;
        gap: 3rem;
    }
}


.nav_menu_berger-close {
    display: none;
}

.nav_menu_berger-open {
    background-color: var(--grey);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 1.5rem;
    text-align: end;
    position: absolute;
    top: 3.5rem;
    width: 100%;
}


.menu_berger-itm {
    color: white;
}

@media screen and (min-width: 960px) {
    .nav_menu_berger-open {
        display: none;
    }
}

.close {
    display: none;
}

.nav_menu_berger-open--lst {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}


.header_banner {
    background-color: black;
    background-size: cover;
    background-position: center;
    
}

.header_banner--content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.875rem;
    padding-top: 2.18rem;
    background-color: rgba(0, 0, 0, .5);
}

@media screen and (min-width: 960px) {
    .header_banner--content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.875rem;
        padding-top: 2.18rem;
        padding-left: 2.18rem;
        background-color: rgba(0, 0, 0, .5);
    }
}

.header_banner_lst {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    align-items: center;
}

.logo_header_banner {
    width: 15.75rem;
    height: 2.43rem;
}

@media screen and (min-width: 960px) {
    .logo_header_banner {
        width: 28.5rem;
        height: 4.4375rem;
    }
}

.header_banner--tlt {
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
}

.header_banner--tlt {
    text-align: center;
}

.header_banner-bottom_content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

@media screen and (min-width: 960px) {
    .header_banner-bottom_content {
        
        flex-direction: row;
    }
}

/* .carousel {
    background-color: white;
} */

@media screen and (max-width: 960px) {
    
    .content_bublle {
        display: none;
    }
}


.itm_bublle{
    font-size: 1.5rem;
    font-weight: 600;
}

.itm_bublle-purple {
    background-image: url("assets/img/vector-bubble.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 19.25rem;
    height: 18.8125rem;
    padding: 2rem 2.5rem;
}

.itm_bublle-orange {
    background-image: url("assets/img/vector-bubble.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 19.25rem;
    height: 18.8125rem;
    /* font-size: 2rem;
    font-weight: 600; */
    padding: 4rem 2.5rem 0 1.5rem;
}

.itm_bublle-red {
    background-image: url("assets/img/vector-bubble.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 19.25rem;
    height: 18.8125rem;
    /* font-size: 2rem;
    font-weight: 600; */
    padding: 4rem 2.5rem 0 1.5rem;
}

.itm_bublle-blue {
    background-image: url("assets/img/vector-bubble.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 19.25rem;
    height: 18.8125rem;
    /* font-size: 2rem;
    font-weight: 600; */
    padding: 4rem 2.5rem 0 1.5rem;
}

.itm_bublle-red-basic {
    background-image: url("assets/img/vector-bubble.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 19.25rem;
    height: 18.8125rem;
    /* font-size: 2rem;
    font-weight: 600; */
    padding: 4rem 2.5rem 0 1.5rem;
}

.itm_bublle-black {
    background-image: url("assets/img/vector-bubble.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 19.25rem;
    height: 18.8125rem;
    /* font-size: 2.5rem;
    font-weight: 600; */
    padding: 5rem 2.5rem;
}

@media screen and (min-width: 960px) {
    .itm_bublle-purple {
        background-image: url("assets/img/vector-bubble.png");
        width: 22.1875rem;
        height: 18.8125rem;
        font-size: 2.5rem;
        font-weight: 600;
        padding: 2rem 2.5rem;
        /* animation-delay: 1s; */
    }
    
    .itm_bublle-orange {
        background-image: url("assets/img/vector-bubble.png");
        width: 22.1875rem;
        height: 18.8125rem;
        font-size: 2rem;
        font-weight: 600;
        padding: 4rem 2.5rem 0 1.5rem;
        margin-top: 2rem;
    }
    
    .itm_bublle-red {
        background-image: url("assets/img/vector-bubble.png");
        width: 22.1875rem;
        height: 18.8125rem;
        font-size: 2rem;
        font-weight: 600;
        padding: 4rem 2.5rem 0 1.5rem;
        margin-top: 3rem;
    }

    .itm_bublle-blue {
        background-image: url("assets/img/vector-bubble.png");
        width: 22.1875rem;
        height: 18.8125rem;
        font-size: 2.5rem;
        font-weight: 600;
        padding: 4rem 2.5rem 0 1.5rem;
        margin-top: 4rem;
    }
    
    .itm_bublle-red-basic {
        background-image: url("assets/img/vector-bubble.png");
        width: 22.1875rem;
        height: 18.8125rem;
        font-size: 2.5rem;
        font-weight: 600;
        padding: 4rem 2.5rem 0 1.5rem;
        margin-top: 10rem;
    }
    
    .itm_bublle-black {
        background-image: url("assets/img/vector-bubble.png");
        width: 22.1875rem;
        height: 18.8125rem;
        font-size: 2.5rem;
        font-weight: 600;
        padding: 5rem 2.5rem;
        margin-top: 15rem;
    }
}

.img_accordion-red {
    width: 15.625rem;
    height: 1.85rem;
}

@media screen and (max-width: 960px) {
    .img_accordion-purple {
        width: 6rem;
        height: 1.5rem;
    }

    .img_accordion-orange {
        width: 12rem;
        height: 1.5rem;
    }

    .img_accordion-red {
        width: 12rem;
        height: 1.5rem;
    }

    .img_accordion-green {
        width: 16rem;
        height: 1.5rem;
    }
}

.content_accordion {
    width: 100%;
}

.txt_short--span-purple {    
    color: var(--purple);
}

.txt_short--span-orange {    
    color: var(--orange);
}

.txt_short--span-red {    
    color: var(--red);
}

.txt_short--span-blue {    
    color: var(--blue);
}

.txt_short--span-red-basic {
    color: var(--red-basic);
}

.txt_short--bold {
    font-weight: 600;
}

.itm_accordion {
    padding: 1.5rem 0.5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
}

@media screen and (min-width: 960px) {
    .itm_accordion {
    padding: 1.5rem;
    border-top-left-radius: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1.5rem;
    }
}

.itm_accordion-purple {
    background-color: var(--purple);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.itm_accordion-orange {
    background-color: var(--orange);
    border-top-left-radius: 0;
}

.itm_accordion-red {
    background-color: var(--red);
    border-top-left-radius: 0;
    color: white;
}

.img_accordion-green {
    padding-right: 0;
}

@media screen and (min-width: 960px) {
    
    .img_accordion-green {
        padding-right: 17rem;
    }
}

.img_accordion-blue {
    padding-right: 0;
    width: 9rem;
    height: 1rem;
}

@media screen and (min-width: 960px) {
    .img_accordion-blue {
        width: 13rem;
        height: 1.75rem;
    }
}

.img_accordion-red-basic {
    padding-right: 0;
    width: 10rem;
}

@media screen and (min-width: 960px) {
    .img_accordion-red-basic {
        width: 15rem;
    }
}


.itm_accordion-green {
    background-color: var(--grenn);
    border-top-left-radius: 0;
}

.itm_accordion-red-basic {
    color: white;
    background-color: var(--red-basic);
    border-top-left-radius: 0;
}

.itm_accordion-blue {
    background-color: var(--blue);
    border-top-left-radius: 0;
}

.icon-more {

    transition-duration: 0.2s;
}

@media screen and (min-width: 960px) {
    .icon-more {
        width: 2.0625rem;
        height: 2.0625rem;
        transition-duration: 0.2s;
    }
}

.icon-more--rotate {
    transform: rotate(45deg);
    transition-duration: 0.2s;
}

.txt_accordion-purple {
    padding: 3rem 0;
}

.txt_accordion-orange {
    padding: 3rem 0;
}

.txt_accordion-red, 
.txt_accordion-red-basic {
    padding: 3rem 0;
}

.txt_accordion-red {
    color: white;
}

.txt_accordion-green {
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-right: 33rem;
}

.txt_accordion-blue {
    padding: 3rem 0;
}

@media screen and (min-width: 960px) {
    .display {
        padding: 3rem 0;
    }
}

/* /////////////////////////////////MAIN/////////////////////////////// */

@media screen and (min-width: 960px) {
    .main_content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2.25rem;
    }  
}


/* ///////////////////////////POP-UP/////////////////////////////////////////// */
.pop-up {
    width: 100%;
    height: 100vh;
    background-color: white;
    position: fixed;
    overflow-y:scroll;
    top: 0;
    left: 0; 
}

@media screen and (min-width: 960px) {
    .pop-up {
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem;
        justify-content: center;
    }
}

@media screen and (min-width: 960px) {
    .pop-up_content {
        display: flex;
        flex-direction: row;
        width: 50%;
    }
}

.pop-up_close-container {
    text-align: end;
    padding: 0.5rem 1rem 0 0;
}

@media screen and (min-width: 960px) {
    .pop-up_close-container {
        background-color: white;
        width: 50%;
    }
}

.pop-up_card {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    /* position: absolute; */
    gap: 1.5rem;
}

@media screen and (min-width: 960px) {
    .pop-up_card {
    background-color: white;
    width: 50%;
    }
}

.card_content-img {
    text-align: center;
}

.card_img {
    height: 20rem;
    border-radius: 1rem;
}

.card_name {
    font-weight: 700;
}

.txt_price {
    font-weight: 600;
    color: var(--grenn);
}

.card_content-link {
    display: flex;
    justify-content: end;
    gap: 0.5rem;
}

.section_calendy {
    /* position: absolute; */
    width: 100%;
}

@media screen and (min-width: 960px) {
    .section_calendly {
        width: 50%;
        height: 100%;
    }
}

@media screen and (min-width: 960px) {
    .section_pop-up {
        padding: 2rem;
    }
}

.form {
    background-color: white;
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.form_group {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.form_group-input {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}

@media screen and (min-width: 960px) {
    .form_group-input {
        width: 50%;
    }
}

@media screen and (min-width: 960px) {
    .form_group {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 1.5rem;
    }
}

.content_btn-form {
    display: flex;
    justify-content: right;
}

.show-msg {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    padding: 6rem;
}

@media screen and (min-width: 960px) {
    
    .show-msg--admin {
        width: calc(100% - 12rem);
        display: flex;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.5);
        position: fixed;
        padding: 6rem;
    }
}

.content_error {
    background-color: white;
    text-align: center;
    border: 2px solid var(--red);
    border-radius: 1rem;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 2rem;
}

.content_error-cross, 
.content_success-cross {
    display: flex;
    justify-content: end;
    padding: 0.5rem;
    width: 100%;
}

.cross-img {
    width: 1.5rem;
    height: 1.5rem;
}

.content_success {
    background-color: white;
    text-align: center;
    border: 2px solid var(--grenn);
    border-radius: 1rem;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--grenn);
    padding-bottom: 2rem;
}

/* ///////////////////////////SECTION AGENDA/////////////////////////// */

.section_agenda {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    padding: 1.25rem 0.75rem;
    background-color: white;

}

@media screen and (min-width: 960px) {
    .section_agenda {
        border-top-left-radius: 1rem;
    }

    .iframe_calendly {
        height: 100%;
    }
}

.content_section-agenda {
    background-color: black;
}

.content_agenda--title {
    text-align: center;
}


@media screen and (min-width: 960px) {
    .section_agenda {
        padding: 1.25rem 3rem;
        align-items: center;
    }
}

.content_agenda {
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 960px) {
    .content_agenda {
        justify-content: flex-start;
        padding-left: 1rem;
    }
}

.title_agenda {
    font-size: 1.125rem;
}

@media screen and (min-width: 960px) {
    .title_agenda {
        font-size: 2rem;
    }
}

.agenda_content-formation {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    /* padding: 0.5rem 2rem; */
}

@media screen and (min-width: 960px) {
    
    .agenda_content-formation {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1.5rem;
        padding: 0.5rem 2rem;
    }
}

@media screen and (min-width: 960px) {   
    .content_agenda--title {
        padding-left: 1rem;
    }
}


@media screen and (min-width: 960px) {
    .content_agenda--title {
        padding-left: 1rem;
    }
}

.content_agenda--title2 {
    padding-left: 1rem;
}

.separator {
    padding: 0 0.5rem;
}

.separator::before {
        display: block;
        content: "";
        width:100%;
        height: 1px;
        background-color: black;
}

.itm_rdv {
    display: flex;
    gap: 1.5rem;
    padding: 0.5rem 2rem;
}

.content_make_rdv {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    border: 2px var(--grenn) solid;
    border-radius: 24px;
    padding: 1.5rem;
    margin: 0 4.25rem;
    font-size: 0.75rem;
    text-align: center;
}

.rdv_date {
    font-weight: bold;
}

.card_formation--agenda {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 0.875rem;
    border-radius: 2rem;
    padding: 0.5rem 0;
}

@media screen and (min-width: 960px) {
    .card_formation--agenda {
        width: 35%;
        padding: 1rem;
    }
}

.purple {
    border: 3px solid var(--purple);
}

.orange {
    border: 3px solid var(--orange);
}

.red {
    border: 3px solid var(--red);
}

.red-basic {
    border: 3px solid var(--red-basic);
}

.blue {
    border: 3px solid var(--blue);
}

.date1 {
    font-size: 1rem;
}

.card_lk {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
}

.card_sub-cat--purple {
    border: 3px solid var(--purple);
    border-radius: 1rem;
    padding: 0 1rem;
}

.card_sub-cat--orange {
    border: 3px solid var(--orange);
    border-radius: 1rem;
    padding: 0 1rem;
}

.card_sub-cat--red {
    border: 3px solid var(--red);
    border-radius: 1rem;
    padding: 0 1rem;
}

.card_sub-cat--red-basic {
    border: 3px solid var(--red-basic);
    border-radius: 1rem;
    padding: 0 1rem;
}

.card_sub-cat--blue {
    border: 3px solid var(--blue);
    border-radius: 1rem;
    padding: 0 1rem;
}

.card_lk--purple {
    color: var(--purple);
}

.card_lk--orange {
    color: var(--orange);
}

.card_lk--red {
    color: var(--red);
}

.card_lk--red-basic {
    color: var(--red-basic);
}

.card_lk--blue {
    color: var(--blue);
}

/* //////////////////////////////////BANNER/////////////////////////////////// */

.banner {
    background-color: black;
    color: var(--grenn);
    padding: 0.8125rem 2.375rem;
    text-align: center;
    font-size: 1.25rem;
    width: 100%;
}

@media screen and (min-width: 960px) {
    .banner {
        padding: 1.5rem 2.375rem;;
    }
}

.txt_white-banner {
    color: white;
}

@media screen and (max-width: 960px) {
    .txt-banner {
        display: none;
    }
}
/* //////////////////////////////////SECTION AFTERBOSS/////////////////////////////////// */

.presentation_afterboss {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem
}

.logo_afterboss {
    width: 9.0625rem;
    height: 1.6875rem;
}

@media screen and (min-width: 960px) {
    .logo_afterboss {
        width: 257.36px;
        height: 48px;
    }
}

.section_card--txt {
    text-align: left;
}

@media screen and (min-width: 960px) {  
    .section_card--txt {
        width: 48.25rem;
        text-align: center;
    }
}

.txt_short {
    text-decoration: underline;
    font-size: 1.125rem;
    font-weight: 700;
}

@media screen and (min-width: 960px) {
    .txt_short {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 960px) {
    .txt_short--span {
        font-weight: 600;
    }
}

.infos_offers {
    background-color: var(--purple);
    width: 100%;
    padding: 0.75rem 3.625rem;
}


.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
    text-align: center;
}

.card--var-purple { 
    color: white; 
}


.card_title {
    font-size: 1rem;
    text-transform: uppercase;
}

@media screen and (min-width: 960px) {
    .name_subCategory {
        font-size: 1.875rem;
        text-transform: uppercase;
        font-weight: 800;
    }
}

@media screen and (min-width: 960px) {
    .card_title {
        font-size: 1.5rem;
    }
}

.card_title-underline {
    font-size: 1rem;
    text-decoration: underline;
}

@media screen and (min-width: 960px) {
    .card_title-underline {
        font-size: 1.5rem;
    }
}
.card_txt {
    font-size: 0.875rem;
}

@media screen and (min-width: 960px) {
    .card_name {
        font-size: 2.25rem;
        font-weight: 700;
    }
}

@media screen and (min-width: 960px) {
    .card_txt {
        font-size: 1.125rem;
    }
}

.card_subtitle {
    font-weight: 700;
}

@media screen and (min-width: 960px) {
    .card_subtitle {
        font-size: 2rem;
        font-weight: 400;
    }
}

.infos_next_session {
    text-align: center;
    border: 2px white solid;
    border-radius: 24px;
    padding: 0.375rem 0.625rem;
}

.infos_next_session--var {
    text-align: center;
    border: 2px var(--purple) solid;
    border-radius: 1rem;
    padding: 0.375rem 0.625rem;
}

.infos_next_session--var-orange {
    text-align: center;
    border: 2px var(--orange) solid;
    border-radius: 1rem;
    padding: 0.375rem 0.625rem;
}

.content_next_session {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.375rem 0.625rem;
    gap: 0.5rem;
}

.infos_next_session--lst {
    display: flex;
    flex-direction: column;
    font-weight: 700;
}

.infos_next_session--lst-purple {
    display: flex;
    flex-direction: column;
    font-weight: 700;
    color: var(--purple);
}

.card_price {
    color: var(--purple);
    text-align: center;
    border: 2px var(--purple) solid;
    border-radius: 10px;
    padding: 0.375rem 0.625rem;
}

.card_participants {
    color: var(--purple);
    text-align: center;
    border: 2px var(--purple) solid;
    border-radius: 10px;
    padding: 0.375rem 0.625rem;
}

.card_price--orange {
    color: var(--orange);
    text-align: center;
    border: 2px var(--orange) solid;
    border-radius: 10px;
    padding: 0.375rem 0.625rem;
}

/* //////////////////////////////////SECTION ENTREPRENEURS2DEMAIN/////////////////////////////////// */

.presentation_entrepreneurs2demain {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .875rem
}

.logo_entrepreneurs2demain {
    width: 21.625rem;
    height: 1.8125rem;

}

.infos_next_session--lst-orange {
    display: flex;
    flex-direction: column;
    font-weight: 700;
    color: var(--orange);
}

@media screen and (min-width: 960px) {
    .logo_entrepreneurs2demain {
        width: 35.79313rem;
        height: 3rem;
    }
}

.txt_concour {
    padding: 0.75rem 0.75rem;
}

.infos_cursus {
    background-color: var(--orange);
    width: 100%;
    padding: 0.75rem 3.625rem;
}

/* ///////////////////////SECTION LESPEPESFLINGUEURS/////////////////////////////////// */

.logo_lespepesflingueurs {
    width: 18.375rem;
}

@media screen and (min-width: 960px) {
    .logo_lespepesflingueurs {
        width: 25.94119rem;
        height: 3rem;
    }
}

.infos_conf {
    background-color: var(--red);
    width: 100%;
    padding: 0.75rem 3.625rem;
}


/* ///////////////////////SECTION MOUVEMENT & OUTSIDE/////////////////////////////////// */


.logo_mouvement {
    width: 18.375rem;
    height: 4.375rem;
}

@media screen and (min-width: 960px) {

    .logo_mouvement {
        width: 39.25rem;
        height: 10.6875rem;
    }
}

.infos_workflow {
    background-color: var(--red-basic);
    width: 100%;
    padding: 0.75rem 3.625rem;
}

.infos_outside {
    background-color: var(--blue);
    width: 100%;
    padding: 0.75rem 3.625rem;
}

.logo_outside {
    width: 18.375rem;
    height: 2.375rem;
}

@media screen and (min-width: 960px) {
    .logo_outside {
        width: 39.25rem;
        height: 5.4375rem;
    }
}

/* /////////////////////////////////SECTION B2BTV/////////////////////////////// */

.card_content-b2btv {
    background-color: black;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

@media screen and (min-width: 960px) {
    .card_content-b2btv {
        padding: 4rem;
    }
}

.card_content-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    width: 100%; 
}

@media screen and (min-width: 960px) {
    .card_content-img {
        flex-direction: row-reverse;
        gap: 4rem;
        padding-bottom: 3rem;
    }
}

.img-b2btv {
     border-radius: 1rem;  
}

.card_content-banner {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    text-align: center;
    font-weight: 700;
    padding-top: 1.5rem;
}

@media screen and (min-width: 960px) {
    .card_content-banner-nav {
        justify-content: center;
        gap: 1.25rem;
        padding: 0 0.5rem 0 0.5rem;
    }
}

@media screen and (min-width: 960px) {
    .card_txt-b2btv {
        font-size: 1.75rem;
    }
}



/* /////////////////////////////////FOLLOW US/////////////////////////////// */

.section_follow {
    background-color: black;
    margin: 1.5rem 0;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

@media screen and (min-width: 960px) {
    .section_follow {
        width: 100%;
        padding: 3rem 10rem;
        margin: 3rem 0 0;
    }
}

.follow_title {
    color: var(--grenn);
    font-size: 1.25rem;
}

@media screen and (min-width: 960px) {
    .follow_title {
        font-size: 2.5rem;
    }
}

.lst_card_linkedin {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0.5rem;
}

@media screen and (min-width: 960px) {
    .lst_card_linkedin {
        justify-content: center;
    }
}

.card_linkedin {
    background-color: white;
    height: 247px;
    width: 183px;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.circle {
    background-color: grey;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
}

/* //////////////////////////////////footer//////////////////////////////////// */

.footer {
    background-color: black;
    color: white;
    font-size: 0.625rem;
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.375rem;
    align-items: center;
    gap: 1.875rem;
}

@media screen and (min-width: 960px) {
    .footer {
        padding: 1.5rem 2rem;
    }
}

@media screen and (min-width: 960px) {
    .content_logo {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 6rem;
    }
}

.footer_logo-b2b {
    width: 3.84rem;
    height: 1.8rem;
}

@media screen and (min-width: 960px) {
    .footer_logo-b2b {
        width: 11.82625rem;
        height: 4.625rem;
    }
    
}

@media screen and (min-width: 960px) {
    .footer_logo-ac-signature {
        display: flex;
        flex-direction: row;
        gap: 3rem;
    }
}

.footer_logo-ac {
    width: 1.25rem;
    height: 1.25rem;
}

@media screen and (min-width: 960px) {
    .footer_logo-ac {
        width: 5.25rem;
        height: 5.25rem;
    }
}

.footer_logo-signature {
    width: 2.03rem;
    height: 1.18rem;
}

@media screen and (min-width: 960px) {
    .footer_logo-signature { 
        width: 5.25rem;
        height: 5.25rem;
    }
}

@media screen and (min-width: 960px) {
    .footer_content_links {
        gap: 0.9rem;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
}

.footer_lst-links {
    display: flex;
    flex-direction: row;
    gap: 0.875rem;
    justify-content: flex-end;
    padding: 0.1875rem 0;

}

@media screen and (min-width: 960px) {
    .footer_lst-links {
        font-size: 1.25rem;
    }
}

.footer_item {
    display: flex;
    flex-wrap: nowrap;
    justify-content: end;
}

.footer_link {
    color: white;
}

/* //////////////////////////////////footer-var//////////////////////////////////// */


.footer-var {
    background-color: black;
    color: white;
    font-size: 0.625rem;
    display: flex;
    justify-content: center;
    padding: 1rem 1.375rem;
    align-items: center;
    gap: 1.875rem; 
}

@media screen and (min-width: 960px) {
    .footer-var {
        margin: 0.625rem;
        border-radius: 1.5625rem;
    }
}


/* ////////////////////////////////////////////////////////////////
//////////////////////////////PAGE AFTERWORK//////////////////// */

@media screen and (min-width: 960px) {
    .main--afterwork {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 3rem;
    }  
}

.section_card--var {
    padding: 1.5rem;
    font-size: 0.75rem;
    text-align: center;
}

.infos_offers--var {
    background-color: var(--purple);
    padding: 0.75rem 3.625rem;
}

@media screen and (min-width: 960px) {
    .infos_offers--var {
        width: 100%;
    }
}

.txt_short--var {
    text-decoration: none;
    font-size: 1.125rem;
    font-weight: 700;
}

@media screen and (min-width: 960px) {
    .txt_short--var {
        display: none;
    }
}

.content_offers {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.875rem;
}

.content_offers_btn {
    display: flex;
    gap: 3rem;
}

.banner_offers {
    width: 100%;
    background-color: black;
    color: var(--purple);
    text-align: center;
    padding: 0.875rem 2rem;
}

@media screen and (min-width: 960px) {
    .banner_offers {
        display : flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
        padding: 1.5rem 10rem;
    }
}

@media screen and (min-width: 960px) {
    .banner_title {
        font-size: 2rem;
        font-weight: bold;
    }
}

.banner_txt {
    font-size: 0.75rem;
    color: white;
}

@media screen and (min-width: 960px) {
    .banner_txt {
        font-size: 1.125rem;
        width: 31.25rem;
    }
}

.section_formations {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    padding: 1.5rem 0.75rem;
    width: 100%;
}

@media screen and (min-width: 960px) {
    .section_formations--cursus {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        width: 50%;
    }
}

.section_formations--cursus {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    padding: 1.5rem 0.75rem;
    width: 100%;
}

@media screen and (min-width: 960px) {
    .section_formations {
        flex-direction: row;
        flex-wrap: wrap;
        padding: 2rem 10rem;
        justify-content: center;
    }
}

@media screen and (min-width: 960px) {
    .content_cursus {
        display: flex;
    }
}

.card_formation {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.875rem;
    padding: 0.75rem 0;
    border-radius: 1rem;
    border: solid 3px var(--purple);
}

.card_formation--orange{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.875rem;
    padding: 0.75rem 0;
    border-radius: 1rem;
    border: solid 3px var(--orange);
}

@media screen and (min-width: 960px) {
    .card_formation--orange {
        padding: 1.5rem 1.125rem;
        width: calc((100% / 3) - 1rem);
    }
}


@media screen and (min-width: 960px) {
    .card_formation{
        width: calc((100% / 3) - 1rem);
        padding: 1.5rem 1.125rem;
    }
}

.card_formation-ttl {
    font-size: 1.125rem;
    font-weight: bold;
    color: var(--purple-dark);
    text-align: center;
}

.card_formation-ttl--orange {
    font-size: 1.125rem;
    font-weight: bold;
    color: var(--orange);
    text-align: center;
}

@media screen and (min-width: 960px) {
.card_formation-ttl--orange {
        font-size: 1.5rem;
        width: 100%;
    }
}

@media screen and (min-width: 960px) {
    .card_formation-ttl {
        font-size: 1.5rem;
        width: 100%;
    }
}

.card_intro {
    text-align: center;
    width: 19.25rem;
    padding: 0 1.25rem;
}

@media screen and (min-width: 960px) {
    .card_intro {
        width: 100%;
    }
}

.card_sub-txt {
    font-size: 1rem;
}

@media screen and (min-width: 960px) {
    .card_sub-txt {
        font-size: 1.125rem;
    }
}

.card_intro-txt {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.875rem;
    font-weight: 300;
    padding: 0 1.25rem;
}

@media screen and (min-width: 960px) {  
    .card_intro-txt {
        font-size: 0.875rem
    }
}

@media screen and (min-width: 960px) {
    .content_intro-txt {
        text-align: center;
    }
    
}

.animator {
    font-size: 0.875rem;
    padding: 0.875rem 0;
    font-weight: 500;
}

.animator_name {
    font-weight: 600;
}

.card_infos-location {
    display: flex;
    padding: 0 1.25rem;
    gap: 0.5rem;
    align-items: center;
    font-size: 0.75rem;
}

@media screen and (min-width: 960px) {
    .card_infos-location {
        font-size: 0.875rem;
    }
}

.card_infos-dates {
    display: flex; 
    padding: 0 1.25rem;
    gap: 0.5rem;
    align-items: center;
    font-size: 0.75rem;  
}

@media screen and (min-width: 960px) {
    .card_infos-dates {
        font-size: 0.875rem;
    }
}

.dates_lst {
    display: flex;
    gap: 0.5rem;
}

.card_infos-time {
    display: flex;
    padding: 0 1.25rem;
    gap: 0.5rem;
    align-items: center;
    font-size: 0.75rem;
}

@media screen and (min-width: 960px) {
    .card_infos-time {
        font-size: 0.875rem;
    }
}

.btn--inscription-purple {
    background-color: var(--purple);
    color: white;
    padding: 0.5rem;
    font-size: 0.75rem;
}

@media screen and (min-width: 960px) {
    .btn--inscription-purple {
        font-size: 1rem;
        
    }
}

.card_content-btn {
    text-align: center;
}

.separator--formation::before {
    display: block;
    content: "";
    width:100%;
    height: 2px;
    background-color: black;
}

/* ////////////////////////////////////////////////////////////////
//////////////////////////////PAGE ENTREPRENEUR//////////////////// */


.infos_offers--var-orange {
    background-color: var(--orange);
    /* width: 100%; */
    padding: 0.75rem 3.625rem;
}

@media screen and (min-width: 960px) {
    .infos_offers--var-orange {
        width: 100%;
    }
}

.banner_offers--var-orange {
    display: flex;
    flex-direction: column;
    background-color: black;
    align-items: center;
    color: var(--orange);
    text-align: center;
    padding: 0.875rem 2.375rem;
    margin-top: 1.5rem;
    gap: 0.5rem
}

.oriffpl {
    width: 5.6875rem;
    height: 3rem;
}

.btn--inscription-orange {
    background-color: var(--orange);
    color: white;
    padding: 0.5rem;
    font-size: 0.75rem;
    margin-bottom: 1.25rem;
}

@media screen and (min-width: 960px) {
    .btn--inscription-orange {
        font-size: 1rem;
    }
}

/* ////////////////////////////////////////////////////////////////
//////////////////////////////PAGE LESPEPES//////////////////// */

.logo_lespepes {
    width: 18.375rem;
    height: 2.125rem;
}

@media screen and (min-width: 960px) {
    .main--lespepes {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 3rem;
    }  
}

.card_formation--red{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.875rem;
    padding: 0.75rem 0;
    border-radius: 1rem;
    border: solid 3px var(--red);
}

@media screen and (min-width: 960px) {
    .card_formation--red {
        padding: 1.5rem 1.125rem;
        width: calc((100% / 3) - 1rem);
    }
}

.card_formation-ttl--red {
    font-size: 1.125rem;
    font-weight: bold;
    color: var(--red);
    text-align: center;
}

@media screen and (min-width: 960px) {
    .card_formation-ttl--red {
        font-size: 1.5rem;
    }
}

.card_price--red {
    color: var(--red);
    text-align: center;
    border: 2px var(--red) solid;
    border-radius: 10px;
    padding: 0.375rem 0.625rem;
}

.infos_next_session--var--red {
    text-align: center;
    border: 2px var(--red) solid;
    border-radius: 1rem;
    padding: 0.375rem 0.625rem;
}

.section_card--var-lespepes {
    padding: 0.5rem 1.5rem 0;
    font-size: 0.75rem;
    text-align: center;
}

.infos_next_session--lst-red {
    display: flex;
    flex-direction: column;
    font-weight: 700;
    color: var(--red);
}

@media screen and (min-width: 960px) {
    .section_card--var-lespepes {
        padding: 0.5rem;
    }
}

.perso_img {
    height: 11.125rem;
}

@media screen and (min-width: 960px) {
    .perso_img {
        width: 11.875rem;
        height: 14.28213rem;
    }
}

.section_peoples {
    display: flex;
    padding-top: 1.5rem;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.name {
    color: var(--red);
    font-size: 1rem;
    font-weight: 600;
}

@media screen and (min-width: 960px) {
    .name {
        font-size: 1.125rem;
    }
}

.banner_offers--var-red {
    display: flex;
    flex-direction: column;
    background-color: black;
    align-items: center;
    color: var(--red-light);
    text-align: center;
    padding: 0.875rem 2.375rem;
    gap: 0.5rem;
}

@media screen and (min-width: 960px) {
    .banner_offers--var-red {
        width: 100%;
    }
}

.card--var-red { 
    color: white; 
}

.infos_offers--var-red {
    background-color: var(--red);
    /* width: 100%; */
    padding: 0.75rem 3.625rem;
}

@media screen and (min-width: 960px) {
    .infos_offers--var-red {
        width: 100%;
    }
}

.card_txt--var-red {
    text-align: center;
    font-size: 0.875rem;
    font-weight: 300;
} 

.btn--inscription-red {
    background-color: var(--red);
    color: white;
    padding: 0.5rem;
    font-size: 0.75rem;
    margin-bottom: 1.25rem;
}

@media screen and (min-width: 960px) {
    .btn--inscription-red {
        font-size: 1rem;
    }
}

/*////////////////////////////PAGE MOUVEMENT OUTSIDE////////////////////*/

.main--mouv-outside {

}

@media screen and (min-width: 960px) { 
    .main--mouv-outside {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }
}
.section_mouvemnt {
    padding: 1.5rem;
    font-size: 0.75rem;
    text-align: center;
}

.presentation_mouv {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 1.5rem;
}

.card_formation--red-basic{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.875rem;
    padding: 0.75rem 0;
    border-radius: 1rem;
    border: solid 3px var(--red-basic);
}

@media screen and (min-width: 960px) {
    .card_formation--red-basic {
        padding: 1.5rem 1.125rem;
        width: calc((100% / 3) - 1rem);
    }
}

.card_formation-ttl--red-basic {
    font-size: 1.125rem;
    font-weight: bold;
    color: var(--red-basic);
    text-align: center;
}

@media screen and (min-width: 960px) {
    .card_formation-ttl--red-basic {
        font-size: 1.5rem;
    }
}

.card_price--red-basic {
    color: var(--red-basic);
    text-align: center;
    border: 2px var(--red-basic) solid;
    border-radius: 10px;
    padding: 0.375rem 0.625rem;
}

.infos_next_session--var--red-basic {
    text-align: center;
    border: 2px var(--red-basic) solid;
    border-radius: 1rem;
    padding: 0.375rem 0.625rem;
}

.infos_next_session--lst-red-basic {
    display: flex;
    flex-direction: column;
    font-weight: 700;
    color: var(--red-basic);
}

.content_form-mouv,
.content_form-outside {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    padding: 1.5rem 0.75rem;
    width: 100%;
}

@media screen and (min-width: 960px) {
    .content_form-mouv,
    .content_form-outside {
        flex-direction: row;
        justify-content: space-between;
        padding: 2rem 10rem;
    }
}

.content_price {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 0.75rem;
}

.presentation_outside {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 1.5rem;
}

.card_formation--blue{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.875rem;
    padding: 0.75rem 0;
    border-radius: 1rem;
    border: solid 3px var(--blue);
}

@media screen and (min-width: 960px) {
    .card_formation--blue {
        padding: 1.5rem 1.125rem;
        width: calc((100% / 3) - 1rem);
    }
}

.card_formation-ttl--blue {
    font-size: 1.125rem;
    font-weight: bold;
    color: var(--blue);
    text-align: center;
}

@media screen and (min-width: 960px) {
    .card_formation-ttl--blue {
        font-size: 1.5rem;
    }
}

.infos_next_session--var--blue {
    text-align: center;
    border: 2px var(--blue) solid;
    border-radius: 1rem;
    padding: 0.375rem 0.625rem;
}

.infos_next_session--lst-blue {
    display: flex;
    flex-direction: column;
    font-weight: 700;
    color: var(--blue);
}

.card_price--blue {
    color: var(--blue);
    text-align: center;
    border: 2px var(--blue) solid;
    border-radius: 10px;
    padding: 0.375rem 0.625rem;
}

/* ////////////////////////////////PAGE B2B TV///////////////////////////////// */

.header_nav--mobile-b2btv {
    position: absolute;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
}

.header_content-b2btv {
    background-color: black;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

@media screen and (min-width: 960px) {
    .header_content-b2btv {
        padding: 4rem;
    }
}

.header_content-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    width: 100%; 
}

@media screen and (min-width: 960px) {
    .header_content-img {
        flex-direction: row-reverse;
        gap: 4rem;
        padding-bottom: 3rem;
    }
}

.header_sub-ttl {
    font-size: 1.75rem;
    font-weight: 700;
}

@media screen and (min-width: 960px) {
    .header_sub-ttl {
        font-size: 1.75rem;
    }
}

.nav_menu_berger-open-b2btv {
        position: absolute;
        top: 3.5rem;
        width: 100%;
}

.header_content-banner {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    text-align: center;
    font-weight: 700;
    padding: 1.5rem 0;
}

.banner-ttl-b2btv {
    color: white;
    font-size: 1.125rem;
    text-align: center;
}

.header_content-banner-nav {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    padding: 0 0.5rem 1.5rem 0.5rem;
}

@media screen and (min-width: 960px) {
    .header_content-banner-nav {
        justify-content: center;
        gap: 1.25rem;
        padding: 0 0.5rem 0 0.5rem;
    }
}

.btn-green {
    background-color: black;
    color: var(--grenn);
    padding:  0.375rem 0.625rem;
    border-radius: 10px;
    border: 3px solid var(--grenn);
    font-size: 0.875rem;
    font-weight: 600;
}

@media screen and (min-width: 960px) {
    .btn-green {
        font-size: 1.125rem;
    }
}

.au-feminin {
    background-color: var(--grenn);
    display: flex;
    flex-direction: column;
    gap: 0.875rem;
    align-items: center;
    text-align: center;
    padding: 1.5rem;
}

.content-presentation {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 0.875rem;
}

@media screen and (min-width: 960px) {
    .content-presentation {
        text-align: left;
        gap: 1.5rem;
    }
}

.presentation-fig {
    text-align: left;
}

.presentation-txt {
    text-align: left;
}

@media screen and (min-width: 960px) {
    .presentation-txt {
        width: 50%;
    }
}

.content-videos {
    width: 100%;
    display: flex;
    gap: 1.5rem;
    overflow-x: scroll;
    padding: 0;
    scroll-snap-type: x mandatory;
}

@media screen and (min-width: 960px) {
    .content-videos {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        overflow-x: visible;
        scrollbar-width: none;
    }
}

.slider-item {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 450px;
    padding-right: 1rem;
    width: 20rem;
    height: 15rem;
}

@media screen and (min-width: 960px) {
    .slider-item {
        width: 30rem;
        height: 20rem;
    }
}
/* .slider-items {
    width: 100%;
    display: flex;
    overflow-x: scroll;
    padding: 0;
    scroll-snap-type: x mandatory;
} */

/* @media screen and (min-width: 960px) {
    .slider-items {
        overflow-x: auto;
        scrollbar-width: none;
        scroll-behavior: smooth;
        padding-top: 7rem;
        padding-bottom: 7rem;
        scroll-behavior: smooth;
    }

    .slider-items:active {
        cursor: grabbing;
    }
    
} */

/* @media screen and (min-width: 960px) {
    .slider-item {
        width: 30rem;
        height: 20rem;
    }
} */

.les-rencontres {
    background-color: var(--grenn);
    color: white;
    display: flex;
    flex-direction: column;
    gap: 0.875rem;
    align-items: center;
    text-align: center;
    padding: 1.5rem;
}

.virage {
    background-color: var(--grenn);
    display: flex;
    flex-direction: column;
    gap: 0.875rem;
    align-items: center;
    text-align: center;
    padding: 1.5rem;
}

.img-tlt-virage {
    width: 6rem;
    height: 2.375rem;
}


/* //////////////////////////////////////ADMIN///////////////////////// */


.separator--form {
    padding: 2rem 0;
}

.separator--form::before {
    display: block;
    content: "";
    width:100%;
    height: 2px;
    background-color: black;
}

.main_admin {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1rem;
}

.section_form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.content_form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form_formation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    width: 100%;
}

.card_formation--admin {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 0.875rem;
    border-radius: 2rem;
    border: 1px solid black;
    padding: 0.5rem 0;
}

.card_formation-ttl-admin--purple {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    color: var(--purple);
}

.tag-purple {  
    font-size: 0.625rem;
    background-color: var(--purple-light);
    color: black;
    font-size: 0.625rem;
    font-weight: 300;
    padding: 0.5rem;
    border-radius: 14px;       
}

.tag--var-purple {  
    font-size: 0.625rem;
    background-color: var(--purple-light);
    color: black;
    font-size: 0.625rem;
    font-weight: 300;
    padding: 0.5rem;
    border-radius: 14px;      
}

@media screen and (min-width: 960px) {
    .tag {
        font-size: 0.75rem;
    }
}

.card_formation-ttl-admin--orange {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    color: var(--orange);
}

.tag-orange {  
    font-size: 0.625rem;
    background-color: var(--orange-light);
    color: black;
    font-size: 0.625rem;
    font-weight: 300;
    padding: 0.5rem;
    border-radius: 14px;       
}

@media screen and (min-width: 960px) {
    .tag-orange {
        font-size: 0.75rem;
    }
}

.card_formation-ttl-admin--red {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    color: var(--red);
}

.tag-red {  
    font-size: 0.625rem;
    background-color: var(--red-light);
    color: black;
    font-size: 0.625rem;
    font-weight: 300;
    padding: 0.5rem;
    border-radius: 14px;       
}

@media screen and (min-width: 960px) {
    .tag-red {
        font-size: 0.75rem;
    }
}

.card_formation-ttl-admin--red-basic {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    color: var(--red-basic);
}

.tag-red-basic {  
    font-size: 0.625rem;
    background-color: var(--red-basic-light);
    color: black;
    font-size: 0.625rem;
    font-weight: 300;
    padding: 0.5rem;
    border-radius: 14px;       
}

@media screen and (min-width: 960px) {
    .tag-red-basic {
        font-size: 0.75rem;
    }
}

.btn--inscription-red-basic {
    background-color: var(--red-basic);
    color: white;
    padding: 0.5rem;
    font-size: 0.75rem;
    margin-bottom: 1.25rem;
}

@media screen and (min-width: 960px) {
    .btn--inscription-red-basic {
        font-size: 1rem;
    }
}

.card_formation-ttl-admin--blue {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    color: var(--blue);
}

.tag-blue {  
    font-size: 0.625rem;
    background-color: var(--blue-light);
    color: black;
    font-size: 0.625rem;
    font-weight: 300;
    padding: 0.5rem;
    border-radius: 14px;       
}

@media screen and (min-width: 960px) {
    .tag-blue {
        font-size: 0.75rem;
    }
}

.btn--inscription-blue {
    background-color: var(--blue);
    color: white;
    padding: 0.5rem;
    font-size: 0.75rem;
    margin-bottom: 1.25rem;
}

@media screen and (min-width: 960px) {
    .btn--inscription-blue {
        font-size: 1rem;
    }
}

.input {
    font-size: 1rem;
    height: 3rem;
}

.section_recap-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;   
    }


.card_content-btn {
    display: flex;
    justify-content: center;
    gap: 1.5rem
}

.form_recap-form {
    display: flex;
    justify-content: center;
     flex-direction: column;
    gap: 1.5rem; 
}


@media screen and (min-width: 960px) {
    
.main_admin {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 6rem;
}

.section_form {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

.content_form {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.form_formation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    width: 100%;
}



.input-txt {
    font-size: 1rem;
}

.content_btn {  
    display: flex;
    justify-content: right;
}

.card_formation--admin {
    width: 30%;
}

}
@media screen and (min-width: 960px) {
    .card_formation--admin {
        gap: 1.5rem;
    }
}


@media screen and (min-width: 960px) {
.section_recap-form {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.5rem; 
    }
}

@media screen and (min-width: 960px) {
    .form_recap-form {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1.5rem;
    }
}

.section_recap-videos {
    align-items: center;
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

@media screen and (min-width: 960px) {
    .section_recap-videos {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1.5rem;
    }
}

.content_ifram-btn {
    text-align: center;
    margin-top: 1rem;
}

.btn--sup-vid-red {
    background-color: var(--red-basic);
    color: white;
    padding: 0.5rem;
    font-size: 0.75rem;
    margin-bottom: 1.25rem;
}

@media screen and (min-width: 960px) {
    .btn--sup-vid-red {
        font-size: 1rem;
    }
}


/* ////////////////////////////////////EDIT/////////////////////////////// */

.edit_label {
    background-color: rgba(25, 25, 25, 0.15);
    width: fit-content;
    padding: 0.5rem;
    border-radius: 1rem;
}

/* //////////////////////////////////////CONNECTION////////////////////////////// */

.main_connection {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.deconnection {
    display: flex;
    gap: 1.5rem;
    justify-content: flex-end;
    align-items: baseline;
    padding: 2rem 0;
}

.form_connection {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 1.5rem;
}

/* //////////////////////////////////////MENTION LEGALES////////////////////////////// */

.main_ml {
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.legal-text-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

/* //////////////////////////////////////REGLEMENT INTERIEUR////////////////////////////// */

.main_ri {
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.regulations-text-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

/* //////////////////////////////////////CGU////////////////////////////// */

.main_cgu {
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.terms-text-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

/* //////////////////////////////////////RGPD////////////////////////////// */

.main_rgpd {
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.rgpd-text-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}